body{
  background-image: url(https://fsa.zobj.net/crop.php?r=9PZNOIFmU7BDPh2Mh-eL5Lhjk3LpWev-NlERXmzhsuFyYHNl8g9uIBpur5Zm5p7T8gvhl7-0qdvi4vjquBxgD2vhC3fKvcWpDHE-3CIAym_n3PLAuBK7PRy8bqugEgtodQC9-fiob-p5zEt-13diMZImFxLRDQG_UjFDHbMvGUnkxeUFuXx0jPC1zqXy2v3mPrUI1Po4o0qDdIpq)
}

a{
  color:crimson;
}

p{
  color:azure;
   text-shadow: 0px 1px 10px black;
   font-family: 'Merriweather', serif;
}

h2{
  color:blue;
  text-shadow: 0px 1px 10px white;
  font-family: 'Poppins', sans-serif;
}

h4{
  color:white;
  font-family: 'Roboto Slab', serif;
}